.newsframe-frame {
    width: 80%;
    padding: 0px;
    outline: 4px solid rgb(224, 224, 224);

    position: relative;

    margin-bottom: 20px;

    background-color: white;
}
.newsframe-frame > h1 {
    margin: 0;
    text-align: center;
}
.newsframe-frame > div:nth-child(2) {
    position: absolute;
    width: 100%;

    bottom: 70%;

    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(10px);
    color: white;

    display: flex;
    justify-content: center;
}
.newsframe-frame > div:nth-child(3) {
    position: absolute;
    bottom: 50%;

    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(10px);
    color: white;
    font-size: 20px;
    width: 100%;

    display: flex;
    justify-content: center;
    padding: 20px 0;

    text-align: center;
}
.newsframe-frame > img {
    width: 100%;
    height: 600px;

    position: relative;
}
.newsframe-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;

    position: absolute;
    bottom: 15%;

    background-color: rgba(0, 0, 0, 0.422);
    padding: 20px 0;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    max-height: 90vh;
    overflow-y: auto;

    border-radius: 10px;
}
.newsframe-counter {
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}
.newsframe-frame > div > h1 {
    text-align: center;
}
.modal > span {
    font-size: 24px;
}
.modal > h1 {
    text-align: center;
}
@media (max-width: 767px) {
    .newsframe-frame > img {
        height: 400px;
    }
}
@media (max-width: 424px) {
    .newsframe-frame {
        width: 320px;
        padding: 20px 0;
    }
}
