.newsframe-frame {
    width: 80%;
    padding: 20px;
    outline: 4px solid black;

    margin-bottom: 20px;

    border-radius: 10px;

    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.newsframe-frame > h1 {
    margin: 0;
    text-align: center;
}
.newsframe-navigation {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.newsframe-navigation > button {
    font-size: 16px;
    color: black;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    background-color: beige;
}

.newsframe-navigation > button {
    appearance: button;
    background-color: #1899d6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: din-round, sans-serif;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 16px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter 0.2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 80px;
}

.newsframe-navigation > button:after {
    background-clip: padding-box;
    background-color: #1cb0f6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.newsframe-navigation > button,
.newsframe-navigation > button:focus {
    user-select: auto;
}

.newsframe-navigation > button:hover:not(:disabled) {
    filter: brightness(1.1);
    -webkit-filter: brightness(1.1);
}

.newsframe-navigation > button:disabled {
    cursor: auto;
}

.newsframe-navigation > button:active {
    border-width: 4px 0 0;
    background: none;
}
.button-modal {
    background-color: red;
    color: white;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    font-size: 30px;
}
.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    max-height: 90vh;
    overflow-y: auto;

    border-radius: 10px;
}
.newsframe-counter {
    font-size: 12px;
}
.newsframe-frame > img {
    width: 800px;
    height: 400px;

    border-radius: 10px;
}
.modal > span {
    font-size: 24px;
}
.modal > h1 {
    text-align: center;
}
@media (max-width: 1439px) {
    .newsframe-frame > img {
        width: 700px;
    }
}
@media (max-width: 1039px) {
    .newsframe-frame > img {
        width: 500px;
        height: 200px;
    }
}
@media (max-width: 767px) {
    .newsframe-frame > img {
        width: 280px;
    }
    .popup-content {
        width: 80% !important;
    }
}
@media (max-width: 334px) {
}
