body {
    margin: 0;
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a {
    text-decoration: none;
    color: black;

    transition: color 0.2s ease-in-out;
}

a:hover,
a:focus {
    color: rgb(0, 98, 130);
}
